body {
    background-color: rgb(248, 247, 247);
}

.contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-info--container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 7%;
}

.contact-h2 {
    margin-top: 7%;
    font-family: 'Merriweather', serif;
}